body{
	text-align: center;;
	padding: 1em;
	background-image: url('/images/dot.png');
}

#taskForm div.input-append {
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#tasks .alert {
    margin: auto auto 1em;
    max-width: 24em;
    padding-right: 0.7em;
    text-align: left;
    border-radius: 0;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#tasks .alert-success span {
	text-decoration: line-through;
}

#tasks input {
    vertical-align: top;
}

#taskForm label.checkbox input{
    vertical-align: top;
}

.removeTask {
	float: right;
	cursor: pointer;
}

#tasks div.alert form.editTaskForm {
	display: none;
}

#tasks div.editMode div.view {
	display: none !important;
}

#tasks div.alert div.view, #tasks div.editMode form.editTaskForm {
	display: inline;
}

.taskTitleEditInput {
    width: 81%;
}

.nameField {
    width: 86%;
}

#newTask {
	border-radius: 0;
	border: 1px solid #777777;
}

#taskForm div.input-append button.btn {
	border-radius: 0;
}

.btn, button, input {
	border-radius: 0 !important;
}
